<div class="container_main-card">
  <div class="main-card_photo">
    <img src="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg" alt="">
  </div>

  <div class="main-card_title">
    <h1><a href="#"> Any news </a></h1>
  </div>

  <div class="main-card_description">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse pariatur cumque vitae vero alias nesciunt aspernatur optio, omnis, aperiam soluta deleniti repellat quisquam. Velit et expedita laudantium voluptates, pariatur ipsa</p>
  </div>
</div>
