header{
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}

.container_articles{
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: center;
  margin: 50px 50px 10px 50px;
}

@media (max-width: 925px){
  .container_articles{
    grid-template-columns: 1fr;
    margin: 0 30px;
    gap: 20px;
  }
}
